body {
  padding: 20px 120px 20px 120px;
}

#map {
  position: relative;
  border-radius: 2px;
  height: 700px;
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

h4 {
  color: #003366;
  padding: 0 20px 20px 20px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

